.onShow
{
    background:url(../images/onShow.gif) no-repeat; 
    padding-left:25px; 
    margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color : #0e931c;
}
.onFocus
{
    background:#E9F0FF url(../images/onFocus.gif) no-repeat; 
    padding-left:25px; 
    margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color : #3333FF;
}
.onError
{
    background:#FFF2E9 url(../images/onError.gif) no-repeat;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color : #f00;
}
.onCorrect
{
    background:#E9FFEB url(../images/onCorrect.gif) no-repeat;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color : #0e931c;
}
.onLoad
{
    background:#E9FFEB url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
    margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 

.inputOnShow
{
	color: #999999
}
.txt-succ
{
	line-height : 166.6%;
	font-family : Verdana, arial, sans-serif;
	text-align : left;
	font-size : 14px;
	color : #0e931c;
}
.txt-err
{
	line-height : 166.6%;
	font-family : Verdana, arial, sans-serif;
	text-align : left;
	font-size : 14px;
	color : #f00;
}
.txt-foc
{
	line-height : 166.6%;
	font-family : Verdana, arial, sans-serif;
	text-align : left;
	font-size : 14px;
	color : #3333FF;
}